.searchContainer{
    margin-top: 2rem;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.inputWrapper {
    position: relative;
    width: 12rem;       
}

.searchBar{
    color: hsl(210, 20%, 60%);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    padding: 1.3rem 2.5rem 1.3rem 1rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.3);
}

.searchIcon {
    position: absolute;
    right: 0.5rem;         
    top: 50%;              
    transform: translateY(-50%);
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    color: #a9bcd0;
}

.searchBar::placeholder {
    color: #a9bcd0;       
    font-style: italic;
    font-weight: 400;
}

.searchBar:focus {
    outline: none;
    box-shadow: 0 0 12px rgba(105, 105, 105, 0.4);
}

.favBtn{
    cursor: pointer;
    color: #a9bcd0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.3);
}

.favBtn:hover {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.2s ease;
}