.imgStyle{
    width: 10rem;
    height: 13rem;
}

.bookContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    width: 14rem;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.3);
    border-radius: 0.5rem;
    color: hsl(210, 20%, 60%);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

.heartIcon{
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgStyle:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.2s ease;
}